<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY SHOE STORE</title>
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="ui massive menu">
        <div class="ui container">
          <div class="header item">
            <a href="/">HOME</a>
          </div>
          <div class="header item">
            <a href="/login"> LOGIN </a>
          </div>
          <a class="item"> Contact </a>
          <a class="item"> About </a>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="ui container">
        <form action="/edit/<%- Shoe._id %>" class="ui form" method="POST">
          <div class="ui three fields">
            <div class="field">
              <label for="maGiay" class="ui header red">Mã Giày</label>
              <input value="<%- Shoe.maGiay %>" id="maGiay" name="maGiay" />
            </div>
            <div class="field">
              <label for="tenGiay" class="ui header red">Tên Giày</label>
              <input value="<%- Shoe.tenGiay %>" id="tenGiay" name="tenGiay" />
            </div>
            <div class="field">
              <label for="hangSX" class="ui header red">Hãng Sản Xuất</label>
              <input value="<%- Shoe.hangSX %>" id="hangSX" name="hangSX" />
            </div>
            <div class="field">
              <label for="kieuGiay" class="ui header red">Kiểu Giày</label>
              <input value="<%- Shoe.kieuGiay %>" id="kieuGiay" name="kieuGiay" />
            </div>
            <div class="field">
              <label for="soLuong" class="ui header red">Số Lượng</label>
              <input value="<%- Shoe.soLuong %>" id="soLuong" name="soLuong" />
            </div>
            <div class="field">
              <label for="gia" class="ui header red">Giá (VND)</label>
              <input value="<%- Shoe.gia %>" id="gia" name="gia" />
            </div>
            <div class="field">
              <label for="img" class="ui header red">Url</label>
              <input value="<%- Shoe.img %>" id="img" name="img" />
            </div>
          </div>
          <div class="ui fluid filed">
            <input
              type="submit"
              value="Submit"
              class="ui button inverted red fluid"
            />
          </div>
        </form>
        <br/><br/>

      </div>
    </div>

    <script src="/js/semantic.main.js">
      s
    </script>
  </body>
</html>
